.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid grey; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    background: white;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.div-loader {
    background-color: white;
    height: 115%;
    width: 103.5%;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 3.5%;
    top: -15%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}
